/* src/App.css */
.App {
  text-align: center;
  /* Other styles... */
}

.App-header {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white for a frosted glass effect */
  backdrop-filter: blur(10px); /* This will give a blur effect to the background, enhancing the focus on your content */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  /* Additional styling... */
}

/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #003973, #E5E5BE, #9B1B30);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}
@-moz-keyframes AnimationName {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}
@keyframes AnimationName {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

